<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form role="form" id="form-user-create">
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputName">Nome</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="Digite o nome do usuário"
          name="name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Digite o e-mail" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">CPF</label>
        <input type="cpf" class="form-control" id="exampleInputCpf" placeholder="Digite o CPF" name="cpf">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Crie uma senha"
          name="password">
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
  </form>
  <script src="../controller/ClientController.js"></script>
</body>
</html>